{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<div>  {{ form_errors(form) }} </div>

<div>
  {{ form_label(form.title, 'Enter the title' , {'label_attr' : {'class' : 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }} 
  {{ form_widget(form.title, {'attr' : {'class' : 'block w-full shadow-sm border-gray-300  rounded-md border p-2 mt-1 mb-2'}}) }} 
  {{ form_errors(form.title) }}
</div>

<div>
    {{ form_label(form.text, 'Type some text' , {'label_attr' : {'class' : 'block text-sm text-gray-700  font-medium'}} ) }} 
    {{ form_widget(form.text, {'attr' : {'class' : 'block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2'}})}} 
    {{ form_errors(form.title) }}
</div>


<div>
  <button type="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 text-white rounded-md border p-2 mt-4 mb-2"> POST </button>
</div>

{{ form_end(form) }}