{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
  <div class="mt-20">
    {{ form_errors(form) }}
  </div>
  <div>
    <div>
      {{ form_label(form.title, 'Title' , {'label_attr' : {'class' : 'block text-sm text-gray-400 font-medium'}}) }}
      {{ form_widget(form.title, {'attr' : {'class' : 'block w-full shadow-sm border-gray-300  rounded-md border p-2 mt-1 mb-2'}}) }}
      {{ form_errors(form.title) }}
    </div>

    <div>
      {{ form_label(form.category, 'Category' , {'label_attr' : {'class' : 'block text-sm text-gray-400  font-medium'}}) }}
      {{ form_widget(form.category, {'attr' : {'class' : 'block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2'}})}}
      {{ form_errors(form.title) }}
    </div>


    <div>
      {{ form_label(form.text, 'Text' , {'label_attr' : {'class' : 'block text-sm text-gray-400  font-medium'}}) }}
      {{ form_widget(form.text, {'attr' : {'class' : 'block w-full shadow-sm border-gray-300 rounded-md border p-10 mt-1 mb-2'}})}}
      {{ form_errors(form.title) }}
    </div>



    <select viewbox="0 0 24 24"class="block w-full text-white bg-pink-300  focus:ring-4 focus:outline-none focus:ring-pink-700 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex">
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="X">CATEGORY</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="LIFESTYLE">LIFESTYLE</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="TRAVEL">TRAVEL</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="TECHNOLOGY">TECHNOLOGY</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="POLITICS">POLITICS</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="CULTURE">CULTURE</option>
      <option class="py-2 text-sm text-gray-700 dark:text-gray-200"value="FOOD">FOOD</option>
    </select>



    <div>
      <button type="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 text-white rounded-md border p-2 mt-4 mb-2">
        POST
      </button>
    </div>
  </div>
{{ form_end(form) }}
