{% extends 'base.html.twig' %}

{% block title %} comment{% endblock %}

{% block bread %}
    -> <a href="{{ path('app_micro_post_show', {post: post.id}) }}"> Post </a>  -> Comment
{% endblock %}

{% block body %}
    {{include ('micro_post/_post.html.twig', {post: post}) }}

    {{ form_start(form , {'attr' : {'novalidate' : 'novalidate'}}) }}
    <div>  {{ form_errors(form) }} </div>

    <div>
        {{ form_label(form.text, 'Add Your Comment:', {'label_attr' : {'class' : 'block text-sm text-white font-medium'}} ) }} 
        {{ form_widget(form.text, {'attr' : {'class' : 'block w-full h-300 shadow-sm border-gray-300  rounded-md border p-2 mt-1 mb-2'}}) }} 
        {{ form_errors(form.text) }} 
    </div>

    <div class="flex justify-center items-center ">
        <button type="submit" class="block w-30 shadow-sm border-transparent bg-indigo-200 hover:bg-indigo-500 text-white hover:text-black rounded-md border p-2 mt-4 mb-2"> SUBMIT </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
